h1, h2, p{
    font-family: 'Roboto', sans-serif;
    text-align:center;
}


.hero {
    background: url(/Images/bg.png), lightgray 0px,  ;
    color:white;
    text-align:center;
    padding:160px 20px; 
    font-size:36px;
    font-weight:bold;
    margin:0;
}


.btn-branding {
    border-radius:50px;
    background:#FFF;
    display: flex;
    width: 200px;
    padding: 18px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color:#272142;
    font-family: 'Montserrat', sans-serif;
}