h1, h2, p{
    font-family: 'Roboto', sans-serif;
    text-align:center;
}


.hero {
    background-image: url("../Images/bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: white;
    background-position: 0%;
    text-align: center;
    padding: 160px 20px;
    padding-bottom: 100%;
    font-size: 36px;
    font-weight: bold;
    margin: 0;
  }


.btn-branding {
    border-radius:50px;
    color: white;
    display: flex;
    width: 200px;
    padding: 18px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color:#272142;
    font-family: 'Montserrat', sans-serif;
}

@media(max-width:600px){
    .hero {
        background-position: center;
    }
}