h1, h2, p, span {
    font-family: 'Roboto', sans-serif;
    text-align:center;
    color:whitesmoke;
}
body {
    background-color: rgb(204, 223, 249);
}

footer{
    color:black;
}
.hero {
    background-image: url("../Images/pakistaniboy.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: white;
    background-size: cover;
    background-position: 0%;
    width:100%;
    height:auto;
    text-align: center;
    padding: 180px 100px;
    padding-bottom: 100%;
    font-size: 36px;
    font-weight: bold;
    margin: 0;
  }

 .about-section-content h1{
    font-style: capitalise;
    font-size: 64px;
    color:red;
    } 
.about-section-content h2{

    font-size: 18px;

}

.about-section-content {
    margin: 30px;
}

.btn-branding {
    background-color: aliceblue;
    border-radius: 50px;
    color:black;
    font-size: 18px;
    line-height: 27px;
    padding: 18px 30px 18px 30px;
    gap:10px;
}

@media(max-width:600px) {
    .hero {
        background-position: center;
    }
    .about-section-content {
        text-align:center;
        padding:0;
    }
}

img {
    max-width:100;
    height:auto;
}