:root {
    --branding-color: #a2c0e7;
    --primary-color:black;
    --secondary-color: #f9f7fe;
    --heading-font-family: "Roboto", serif;
    --default-font-family: "Monserrat", sans-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--primary-color);
    font-family: var(--heading-font-family);
    font-weight: bold;
  }
body {
    background-color: var(--branding-color);
}
h1 {
    font-size: 96px;
    line-height: 1.5;
  }
  
  h2, h3{
    font-size: 64px;
  }

  p {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
  }

  .content-container {
    padding: 160px 20px;
  }
  
  .content h1 {
    font-size: 64px;
    line-height: 80px;
  }
  
  .content h2 {
    font-size: 18px;
    font-family: var(--default-font-family);
  }
  
  .content h3 {
    font-size: 24px;
    line-height: 1.5;
  
    font-family: var(--default-font-family);
  }
  
  .content p {
    font-size: 14px;
  }
  
  .content {
    margin: 30px;
  }

footer{
    color:var(--primary-color);
    margin: 60px 0;
}

.container{
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.hero {
    background-image: url("../Images/pakistaniboy.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: white;
    background-size: cover;
    background-position: 0%;
    width:100%;
    height:auto;
    text-align: center;
    padding: 160px 20px;
    padding-bottom: 100%;
    font-size: 36px;
    font-weight: bold;
    margin: 0;
  }

 .about-section-content h1 {
    font-style: capitalise;
    font-size: 64px;
    color:red;
    } 
.about-section-content h2{

    font-size: 18px;

}

.about-section-content {
    margin: 30px;
}

.btn-branding {
    background-color: aliceblue;
    border-radius: 50px;
    color:black;
    font-size: 18px;
    line-height: 27px;
    padding: 18px 30px 18px 30px;
    gap:10px;
}

@media(max-width:900px) {
    h1 {
        font-size: 44px;
        line-height: 56px;
      }
    
      h2 {
        font-size: 44px;
      }
    .hero {
        background-position: center;
        padding: 80px 20px;
    }
    .about-section-content {
        text-align:center;
        padding:0;
    }
    .content {
        text-align: center;
        padding: 0;
      }
}

img {
    max-width:100;
    height:auto;
    margin-left: 15px;
    margin-right: 15px;
}